# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs e bancos de dados locais
*.log
*.pot
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/
.venv/
.pyenv/

# Configurações de IDEs
.vscode/
.idea/

# Testes
.coverage
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

Naruto Shippuden (2007)/
